name: Build & Release

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2

      - name: Check Formatting (zig)
        run: |
          zig fmt --check build.zig

      - name: Build
        run: |
          zig version
          zig build --release -Dtarget=x86_64-windows

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rl.exe
          path: zig-out/bin/rl.exe

  release:
      needs: build
      if: startsWith(github.ref, 'refs/tags/')
      runs-on: ubuntu-latest
      permissions:
        contents: write

      steps:
        - name: Download Build Artifacts
          uses: actions/download-artifact@v4
          with:
            name: rl.exe

        - name: Rename for Release
          run: |
            BINARY_NAME="rl.exe"
            NAME_WITH_VERSION="rl-${GITHUB_REF_NAME#v}.exe"

            echo "BINARY_NAME=$BINARY_NAME"
            echo "NAME_WITH_VERSION=$NAME_WITH_VERSION"
            mv $BINARY_NAME $NAME_WITH_VERSION

            echo "ASSET_NAME=$NAME_WITH_VERSION" >> $GITHUB_ENV

        - name: Create GitHub Release
          uses: softprops/action-gh-release@v2
          with:
            files: |
              ${{env.ASSET_NAME}}
            generate_release_notes: true
